.learnMoreLink {
  position: relative;
  padding-bottom: 0.25rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.learnMoreLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-white);
  transition: width 500ms cubic-bezier(0.42, 0, 0.2, 1);
}

.learnMoreLink:hover::after {
  width: 100%;
}

.arrow {
  transition: transform 500ms cubic-bezier(0.42, 0, 0.2, 1);
}

.learnMoreLink:hover .arrow {
  transform: translateX(0.25rem);
}
