.primary {
  background-color: #a0644e;
  color: white;
}

.primary:hover {
  background-color: #8e5844;
}

.ghost {
  position: relative;
  display: inline-block;
}

.ghost::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 300ms ease-in-out;
}

.ghost:hover::after {
  width: 100%;
}
